<div class="text-center mt-3">
  <h2>{{pagination.totalItems}} matches found!</h2>
</div><br>

<form class="form-inline justify-content-center" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>

  <div class="form-group">
    <label for="minAge">Age From</label>
    <input type="number" class="form-control ml-1" style="width: 79px;" id="minAge" [(ngModel)]="userParams.minAge" name="minAge">
  </div>

  <div class="form-group px-2">
    <label for="maxAge" value="maxAge">Age From</label>
    <input type="number" class="form-control ml-1" style="width: 79px;" id="maxAge" [(ngModel)]="userParams.maxAge" name="maxAge">
  </div>

  <div class="form-group px-2">
    <label for="gender" value="gender">Show: </label>
    <select class="form-control ml-1" style="width: 130px;" id="gender" [(ngModel)]="userParams.gender" name="gender">
      <option *ngFor="let gender of genderList" [value]="gender.value">
        {{gender.display}}
      </option>
    </select>
  </div>

  <button tpye="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
  <button tpye="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Reset Filters</button>

</form>
<br>


<div class="container mt-5">
  <div class="row">
    <!-- Loop through all of the users -->
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <!-- Display the member-card component with the user passed in -->
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>