<!-- This is a child component that will be displayed when the user clicks to register -->
<!-- When this form is submitted it will use the register method found in this component -->
<form [formGroup]="registerForm" (ngSubmit)="register()"> 
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <!-- Form for the user to select their gender -->
  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a:</label>
    <label class="radio-inline">
      <input type="radio" class="mr-1" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input type="radio" class="mr-1" value="female" formControlName="gender">Female
    </label>
  </div>

  <!-- Form for the user to input a username -->
  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
    class="form-control" formControlName="username" placeholder="Username">
    <div class="invalid-feedback">Please enter a username</div>
  </div>

  <!-- Form for the user to input their first name -->
  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('knownAs').errors && registerForm.get('knownAs').touched}"
    class="form-control" formControlName="knownAs" placeholder="First Name">
    <div class="invalid-feedback">Please enter your first name</div>
  </div>
  
  <!-- Form for the user to input their date of birth -->
  <div class="form-group">
    <input type="text" bsDatepicker [bsConfig]="bsConfig" [maxDate]="maxDate"
    [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}"
    class="form-control" formControlName="dateOfBirth" placeholder="Date of Birth">
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
  </div>

  <!-- Form for the user to input their city -->
  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}"
    class="form-control" formControlName="city" placeholder="City">
    <div class="invalid-feedback">Please enter a city</div>
  </div>

  <!-- Form for the user to input their country -->
  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}"
    class="form-control" formControlName="country" placeholder="Country">
    <div class="invalid-feedback">Please enter a country</div>
  </div>

  <!-- Form for the user to input a password -->
  <div class="form-group">
    <!-- ngClass for using reactive form validations -->
    <input type="password"    
    [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
    class="form-control" formControlName="password" placeholder="Password">
    <!-- Empty password Validation -->
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('password').hasError('required') && 
      registerForm.get('password').touched">Password is required
    </div>
    <!-- Min length password Validation -->
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('password').hasError('minlength') && 
      registerForm.get('password').touched">Password must be at least 4 characters
    </div>
    <!-- Max length password Validation -->
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('password').hasError('maxlength') && 
      registerForm.get('password').touched">Password cannot exceed 8 characters
    </div>
  </div>

  <div class="form-group">
    <!-- ngClass for using reactive form validations -->
    <input type="password" 
    [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched
                || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}"
    class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
    <!-- Password confirm empty validation -->
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('confirmPassword').hasError('required') && 
      registerForm.get('confirmPassword').touched">Password confirmation is required
    </div>
    <!-- Password confirmation mismatch validation -->
    <div class="invalid-feedback" 
      *ngIf="registerForm.hasError('mismatch') && 
      registerForm.get('confirmPassword').touched">Passwords must match
    </div>
  </div>

  <!-- Button options for the user to register or cancel -->
  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>